<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageName}}</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/sweetAlert.css">
    <link rel="stylesheet" href="/assets/css/site.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Book-App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav w-100">
                        <a class="nav-link" href="/book">Books</a>
                        <a class="nav-link" href="/category">Categories</a>
                        <a class="nav-link" href="/publisher">Publisher</a>
                        <a class="nav-link" href="/author">Authors</a>

                        <div class="col-7 d-flex justify-content-end">
                            <form method="post" class="d-flex" action="/book-find">
                                <input class="form-control me-3" type="text" name="bookName" placeholder="Search">
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        {{{body}}}
    </main>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/sweetAlert.js"></script>
    <script src="/assets/js/site.js"></script>
</body>

</html>