<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageName}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Montserrat:wght@500;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/sweetAlert.css">
  <link rel="stylesheet" href="/assets/css/site.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg" style="background-color: #f8f3ed;">
      <div class="container-fluid">
        <a class="navbar-brand primaryColor" href="/">BooksApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav w-100">
            <a class="nav-link primaryColor {{#if homeActive}} wActive {{/if}}" href="/">Home</a>
            <a class="nav-link primaryColor {{#if booksActive}} wActive {{/if}}" href="/book">Books</a>
            <a class="nav-link primaryColor {{#if categoryActive}} wActive {{/if}}" href="/category">Categories</a>
            <a class="nav-link primaryColor {{#if publisherActive}} wActive {{/if}}" href="/publisher">Publisher</a>
            <a class="nav-link primaryColor {{#if authorActive}} wActive {{/if}}" href="/author">Authors</a>

            <div class="col-7 d-flex justify-content-end">
              {{!-- <form method="post" class="d-flex" action="/book-find">
                <input class="form-control me-3" type="text" name="bookName" placeholder="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form> --}}
            </div>
          </div>
        </div>

      </div>
    </nav>
  </header>
  <main class="col-12 mt-4">
    {{{body}}}
  </main>

  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/sweetAlert.js"></script>
  <script src="/assets/js/site.js"></script>
  <script src="https://kit.fontawesome.com/5bcaf03d9b.js" crossorigin="anonymous"></script>
</body>

</html>